.courseFormWrapper {
  margin-top: 15px;
  padding: 15px;
}
.courseFormWrapper .field-group {
  display: flex;
  margin-bottom: 0px;
}
.courseFormWrapper form {
  display: flex;
  justify-content: space-between;
}
.courseFormWrapper .field {
  display: flex;
  align-items: center;
  margin-bottom: 0px !important;
  margin-right: 10px;
}
.courseFormWrapper .field label.label {
  margin-bottom: 0px;
  margin-right: 10px;
}
.courseFormWrapper input {
  width: 100%;
}
.courseFormWrapper h4.subtitle.is-4 {
  margin-bottom: 0.75rem;
}

.courseList h1 {
  font-size: 24px;
}
.courseList .panel.bold {
  font-weight: 600;
}

.courseList .panel {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
}

.listHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listHeader h3.title {
  margin-bottom: 0px;
}

.listHeader .search {
  display: flex;
  align-items: center;
}

.listHeader .search .label {
  margin-bottom: 0px;
  margin-right: 10px;
}

.costPrice {
  text-align: right;
  font-size: 2rem;
}
